@model ph_web.ViewModels.Map.ClusterInfo

@{
    ViewBag.Title = "StarMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="star">StarMap</h2>
<div id="starmap">
    @*﻿<div style="position:absolute; top: 314px; left: 411px; background-color: white; display:block;">
            <div style="width: 50px; height: 50px; float:left; background-color:red;"></div>
            <div style="float: left; width:100%; height: 25px; background-color:green;">BYV-690</div>
            <div style="float: left; width:100%; height: 25px; background-color:yellow;">BYV-690</div>
        </div>
        <div style="position:absolute; top: 433px; left: 348px; background-color: white; display:block;">
            <div style="width: 50px; height: 50px; float:left; background-color:red;"></div>
            <div style="float: left; width:100%; height: 25px; background-color:green;">TOH-669</div>
            <div style="float: left; width:100%; height: 25px; background-color:yellow;">TOH-669</div>
        </div>*@
</div>

@section Scripts {
    <script type="text/javascript">

        var homesystem = { X: @Model.HomeSystemPosition.X, Y: @Model.HomeSystemPosition.Y, ClusterName: '@Model.ClusterName', Name: '@Model.HomeSystemName' };
        var center = { X: 0, Y: 0}

        var obj = { startPositionX: 0, startPositionY: 0 };
        var scale = 1.0;
        var translate = { x: 0, y: 0 };

        //var starmapdata;

        $('#starmap').on("mousedown", function (e) {
            //var container = $(this);
            //var move = $('#move');
            obj.startPositionX = e.pageX - translate.x;
            obj.startPositionY = e.pageY - translate.y;
            $(document).on("mousemove", function (e) {
                translate.x = e.pageX - obj.startPositionX;
                translate.y = e.pageY - obj.startPositionY;
                center.X = center.X + translate.x;
                center.Y = center.Y + translate.y;
                $('.star').css('transform', 'scale(' + scale + ') translate(' + translate.x + 'px, ' + translate.y + 'px)');
            });

        });
        $(document).on("mouseup", function () {
            $(this).off("mousemove");
            DrawStarmap(center);
        });

        $(document).ready(function () {
            center = 
            DrawStarmap(homesystem);
        });
    </script>
}